################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/BlazorApp1/BlazorApp1/BlazorApp1.sln
/BlazorApp1/BlazorApp1/BlazorApp1.sln
