@page "/searchmonthpage"
@using CustInformation_WebBlazor.Data
@inject SearchServices service;

<div style="top:10px">
    @if (custResViewModel.Count == 0 || custResViewModel == null)
    {

    }
    else
    {
            <table class="table">
                <tr>
                    <th>item</th>
                    <th>unique customer</th>
                    <th>Dettaglio</th>
                </tr>
                <tbody>
                @foreach (var customer in custResViewModel)
                {
                            <tr>
                                <td>@customer.item</td>
                                <td>
                            @customer.detail.FirstOrDefault().total
                                </td>
                                <td>
                            @if (@customer.detail.Count > 0)
                            {
                                            <CustInformation_WebBlazor.Shared.Modal @ref="modal"></CustInformation_WebBlazor.Shared.Modal>
                                            <button @onclick="() => modal.Open(customer.item, customer.detail)">Open Modal</button>
                            }
                                </td>
                            </tr>
                }
                </tbody>
            </table>
    }
</div>


@code {
    private List<CustomerDetailViewModel> custResViewModel = new List<CustomerDetailViewModel>();
    private CustInformation_WebBlazor.Shared.Modal modal { get; set; }


    protected override async Task OnInitializedAsync()
    {
        custResViewModel = await service.SearchMonth();
    }
}
