@model SearchViewModel

<div>   
    <form id="searchFRM">
        <input asp-for="customer" id="customer"/>
        <input asp-for="item" id="item"/>
        <input type="submit" id="searchBTN"/>
    </form>
</div>
